extends layout

block content
  h1= title
  p Here are #{title}. 

  //- ul
   li: a(href='/') Home
   li: a(href='/products') Products
   li: a(href='/about') About

  // the products
  section(class='container content-section text-center')
   div(class='row')
    div(class='col-lg-8 col-lg-offset-2')
     div(class='row')
      
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/1.jpg')
        div(class='caption')
         h3= '250.00'
         p Round Chandua
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/2.jpg')
        div(class='caption')
         h3= '50.00'
         p Wall hanging
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/3.jpg')
        div(class='caption')
         h3= '180.00'
         p Jeans Hand bag

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/4.jpg')
        div(class='caption')
         h3= '80.00'
         p Small Handbag
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/5.jpg')
        div(class='caption')
         h3= '75.00'
         p Jeans Standard Purse
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/6.jpg')
        div(class='caption')
         h3= '200.00'
         p Jeans Big Handbag

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/7.jpg')
        div(class='caption')
         h3= '40.00'
         p Small Wall Hanging
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/8.jpg')
        div(class='caption')
         h3= '220.00'
         p Cotton Handbag
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/9.jpg')
        div(class='caption')
         h3= '350.00'
         p Square Chandua

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/10.jpg')
        div(class='caption')
         h3= '350.00'
         p Peacock Chandua
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/11.jpg')
        div(class='caption')
         h3= '130.00'
         p Small Chandua
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/12.jpg')
        div(class='caption')
         h3= '220.00'
         p Cotton Handbag

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/13.jpg')
        div(class='caption')
         h3= '130.00'
         p Velvet Handbag
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/14.jpg')
        div(class='caption')
         h3= '50.00'
         p Jeans Small Purse
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/15.jpg')
        div(class='caption')
         h3= '130.00'
         p Cotton Hand Purse

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/16.jpg')
        div(class='caption')
         h3= '180.00'
         p Moti Handbag with Moti Handle
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/17.jpg')
        div(class='caption')
         h3= '160.00'
         p Moti Handbag with Rounded Handle
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/18.jpg')
        div(class='caption')
         h3= '75.00'
         p Letter Holder

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/19.jpg')
        div(class='caption')
         h3= '140.00'
         p Palm Leaf Lamp
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/20.jpg')
        div(class='caption')
         h3= '120.00'
         p Hanging Lamp
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/21.jpg')
        div(class='caption')
         h3= '130.00'
         p Sling Bag

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/22.jpg')
        div(class='caption')
         h3= '50.00'
         p Mobile Cover
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/23.jpg')
        div(class='caption')
         h3= '130.00'
         p Launch Box Holder
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/24.jpg')
        div(class='caption')
         h3= '100.00'
         p Water Bottle Holder

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/25.jpg')
        div(class='caption')
         h3= '130.00'
         p Small Vanity
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/26.jpg')
        div(class='caption')
         h3= '250.00'
         p Umbrella
      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/27.jpg')
        div(class='caption')
         h3= '30.00'
         p Velvet Purse

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        img(src='images/product/28.jpg')
        div(class='caption')
         h3= '35.00'
         p Modern Purse

      div(class='col-sm-6 col-md-6')
       div(class='thumbnail')
        //-img(src='images/product/20.jpg')
        div(class='caption')
         h3 Thank You
         p All for now





























